.container {
    border: solid red 2px;
    box-sizing: border-box;
    justify-content: center;
}

button {
    display: inline-block;
    width: 20%;
    padding: 40px;
    border-radius: 10px;
    margin: 5px;

}

#fifth-row div {
    flex: 1 0 33%;
}

#zero {
    flex: 1 67%;
}