@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex: 0;
    border: solid pink 2px;
    box-sizing: border-box;
}

button {
    border: none;
    font-family: 'Roboto Mono';
    color: white;
    background-color: rgb(122, 121, 121);
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 100px;
    padding: 40px 60px;
    border-radius: 10px;
    margin: 2px;

}
#calculator {
    width: 800px;
    height: auto;
}

#calculator, #buttons{
    flex-direction: column;
}

#display {
    justify-content: flex-end;
    color: rgb(122, 121, 121);
}

.row {
    display: flex;
    justify-content: space-around;
}
#fifth-row div {
    flex: 33%;
}

#zero {
    flex: 67%;
}